<div class="row">
        <section class="main col-md-12">
          <article>
            <p>
            Demolitions require precise calculation in order to ensure that a target is taken down in the first shot.
            This simple calculator is made to be used to help a Sapper determine the amount of explosives needed
            to attack targets of different types, shapes and sizes.
            </p>
          </article>
        </section>
      </div>
